<template>
  <!-- <div class="appointing"> -->
    <div class="container fluid">
      <br />
      
      <!-- <div> -->
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <!--date and time-->
              <label 
                style="
                  margin-top: 50px; 
                  margin-left: 125px; 
                  margin-right: 5px; 
                  color: black
                "
              >
                วันที่
              </label>
              <span class="inline">
                <input
                  type="date"
                  class="form-control"
                  placeholder="วันที่"
                  v-model="date"
                  :config="options"
                  style="text-align: center; width: 200px; background-color: white; border: solid 1px"
                />
              </span>

              <span class="inline1">
                <label
                  style="
                    margin-top: 50px; 
                    margin-left: 63px; 
                    margin-right: 5px;
                    color: black
                  "
                >
                  เวลา
                </label>
                <span class="inline">
                  <input
                    type="time"
                    class="form-control"
                    placeholder="เวลา"
                    v-model="time"
                    :config="options"
                    style="text-align: center; width: 200px; background-color: white; border: solid 1px"
                  />
                </span>
              </span>
            </div>

            <div class="form-group">
              <!--patient name-->
              <label
                style="
                  margin-top: 50px; 
                  margin-left: 120px; 
                  margin-right: 5px;
                  color: black
                "
              >
                คนไข้
              </label>
              <span class="inline">
                <input
                  type="text"
                  class="form-control"
                  placeholder="ชื่อ-นามสกุล คนไข้"
                  v-model="patient"
                  style="
                    margin-top: 1px; 
                    margin-right: 10pxว text-align:center; 
                    width:200px; 
                    background-color: white; 
                    border: solid 1px
                  "
                />
              </span>

              <span class="space1"></span>

              <label
                style="
                  margin-top: 50px; 
                  margin-right: 5px; 
                  margin-left: 70px;
                  color: black
                "
              >
                ทันตแพทย์
              </label>
              <!--dent name-->
              <span class="inline">
                <select
                  type="text"
                  class="custom-select custom-select-sm"
                  placeholder="-------"
                  v-model="dentist"
                  style="width: 200px; background-color: white; border: solid 1px"
                >
                  <option value="ทพ.อุกฤษฏ์ สมใจ">ทพ.อุกฤษฏ์ สมใจ</option>
                  <option value="ทพ.ฤษเดช สมัยใหม่">ทพ.ฤษเดช สมัยใหม่</option>
                  <option value="ทพญ.จริงใจ คนจริง">ทพญ.จริงใจ คนจริง</option>
                </select>
              </span>
            </div>

            <br />

            <div class="form-group">
              <label 
                style="
                  margin-top: 50px;
                  margin-left: 100px;
                  color: black
                "
              >
                ภาระงาน
              </label>
              <!--work-->
              <span class="inline">
                <textarea
                  type="text"
                  class="form-control"
                  v-model="work"
                  style="
                    margin-left: 5px;
                    width: 250px;
                    height: 50px;
                    width: 200px;
                    background-color: white; 
                    border: solid 1px
                  "
                />
              </span>

              <span class="space1"></span>

              <label 
                style="
                  margin-top: 50px; 
                  margin-left: 80px;
                  color: black
                "
              >
                หมายเหตุ
              </label>
              <!--note-->
              <span class="space"></span>
              <span class="inline">
                <textarea
                  type="text"
                  class="form-control"
                  v-model="note"
                  style="
                    margin-left: 5px;
                    width: 250px;
                    height: 50px;
                    width: 200px;
                    background-color: white; 
                    border: solid 1px
                  "
                />
              </span>
            </div>
          </div>
        </div>

        <button1
          type="submit"
          class="btn btn-success"
          @click="addappointment()"
        >
          บันทึก
        </button1>

        <button2 type="submit" class="btn btn-secondary" @click="reset">
          ยกเลิก
        </button2>
      <!-- </div> -->
    </div>
  <!-- </div> -->
</template>

<script>
import { database } from "@/components/firebase";

// import database from 'firebase';

export default {
  data() {
    return {
      date: "",
      time: "",
      patient: "",
      dentist: "",
      work: "",
      note: "",
    };
  },
  methods: {
    addappointment() {
      var payload = {
        date: this.date,
        time: this.time,
        patient: this.patient,
        dentist: this.dentist,
        work: this.work,
        note: this.note,
        hn: Math.floor(1000 + Math.random() * 999999),
        in_progress: true,
        completed : false
      };
      database
        .ref("contacts")
        .push(payload)
        .then(window.alert("บันทึกสำเร็จ"))
        .then(
          ([
            this.date,
            this.time,
            this.patient,
            this.dentist,
            this.work,
            this.note,
          ] = ["", "", "", "", "", ""])
        );
    },

    reset() {
      Object.assign(this.$data, this.$options.data());
    },
  },
};
</script>

<style scoped>
.card {
  margin-left: 5%;
  width: 1000px;
}

button1 {
  background-color: rgb(112, 226, 116);
  border: 1px rgb(95, 190, 98);
  color: rgba(56, 56, 56, 0.911);
  padding: 2.5px 15px;
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 800px;
  margin-right: 20px;
  border-radius: 12px;
}

button2 {
  background-color: rgb(172, 169, 169);
  border: 1px rgb(168, 168, 168);
  color: rgba(56, 56, 56, 0.911);
  padding: 2.5px 15px;
  font-size: 17px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 12px;
}

.inline {
  display: inline-block !important;
  /* margin-left: 3px !important;  */
}

.inline1 {
  display: inline-block !important;
  margin-left: 20% !important;
}

.space1 {
  display: inline-block !important;
  width: 15% !important;
}

.space2 {
  display: inline-block !important;
  width: 20% !important;
}
</style>