<template>
    <div>
       <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%239E69AF&amp;ctz=Asia%2FBangkok&amp;src=dGgudGgjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%237986CB&amp;showTitle=0"></iframe>
    </div>

</template>

<style scope>
iframe {
    border-width: 0px; 
    width: 1000px;
    height:800px;
    /* margin-left: 100px */
    /* frameborder: 0;
    scrolling: no */
}
</style>