<template>
  <div>
    <!--Stats cards-->
    <div class="row">
      <div
        class="col-md-6 col-xl-6"
        v-for="(stats, index) in statsCards"
        :key="index"
      >
        <stats-card class="column">
          <div
            class="icon-big text-center"
            :class="`icon-${stats.type}`"
            slot="header"
          >
            <i :class="stats.icon"></i>
          </div>
          <div class="numbers" slot="content">
            <p>{{ stats.title }}</p>
            {{ stats.value }}
          </div>
          <div class="stats" slot="footer">
            <div
              v-for="(info, list) in $store.getters.appointment"
              :key="list"
              style="text-align: center"
            >
              <div v-if="index == 0">
                <div v-if="splitdate(info.date)[0] == Yearnow">
                  <div v-if="splitdate(info.date)[1] == Monthnow">
                    <div v-if="splitdate(info.date)[2] == Daynow">
                      <div 
                        v-if="info.in_progress == true"
                        @click="patientpage(info)"
                      >
                        {{CountPatientNow()}}
                        {{ info.patient }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="index == 1">
                <div v-if="splitdate(info.date)[0] == Yearnow">
                  <div v-if="splitdate(info.date)[1] == Monthnow">
                    <div v-if="splitdate(info.date)[2] == Daynow">
                      <div v-if="info.completed == true">
                        <div
                          v-if="info.date !== currentDate"
                          @click="patientpage(info)"
                        >
                          {{CountNumber()}}
                          {{ info.patient }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="index == 2">
                <div v-if="splitdate(info.date)[0] == Yearnow">
                  <div v-if="splitdate(info.date)[1] == Monthnow">
                    <div v-if="splitdate(info.date)[2] == Daynow">
                      <div v-if="info.in_progress == false">
                        <div v-if="info.completed == false">
                          <div
                            v-if="info.date !== currentDate"
                            @click="patientpage(info)"
                          >
                            {{CountNumber()}}
                            {{ info.patient }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="index == 3">
                <div v-if="splitdate(info.date)[0] == Yearnow">
                  <div v-if="splitdate(info.date)[1] == Monthnow">
                    <div
                      v-if="Setintday(splitdate(info.date)[2]) > Intday"
                      @click="patientpage(info)"
                    >
                      {{CountNumber()}}
                      {{ info.patient }}
                    </div>
                    
                  </div>
                  
                </div>
                
              </div>
              
            </div>
          </div>
        </stats-card>
      </div>
    </div>
  </div>
</template>
<script>
import { StatsCard } from "@/components/index";
// import Chartist from 'chartist';
export default {
  components: {
    StatsCard,
    // ChartCard
  },
  /**
   * Chart data used to render stats, charts. Should be replaced with server data
   */
  data() {
    //var pdate = $store.getters.appointment
    var datenow = new Date();
    var currentDate =
      datenow.getFullYear() +
      "-" +
      (datenow.getMonth() + 1) +
      "-" +
      datenow.getDate();
    var daynow = datenow.getDate();
    var monthnow = datenow.getMonth() + 1;
    var yearnow = datenow.getFullYear();
    var intdaynow = parseInt(daynow);
    //var count = this.CountNumber();

    //var splitdatenow = datenow.split(" ")
    console.log(currentDate);
    console.log(datenow);
    //console.log(splitdatenow);
    return {
      statsCards: [
        {
          type: "warning",
          icon: "ti-flag-alt",
          title: "ทำวันนี้",
          value: this.CountPatientNow() + " คน",
        },
        {
          type: "success",
          icon: "ti-check-box",
          title: "ทำไปแล้ว",
          value: this.CountNumber() + " คน",
        },
        {
          type: "danger",
          icon: "ti-alert",
          title: "ไม่มา",
          value: this.CountNumber() + " คน",
        },
        {
          type: "info",
          icon: "ti-bookmark",
          title: "ทำพรุ่งนี้",
          value: this.CountNumber() + " คน",
        },
      ],
      currentDate: currentDate,
      Daynow: daynow,
      Monthnow: monthnow,
      Yearnow: yearnow,
      Intday: intdaynow
    };
  },
  created() {
    this.fetchList(), this.splitdate(), this.splitnum(),this.CountPatientNow()
  },
  methods: {
    fetchList() {
      this.$store.dispatch("fetchList");
    },
    splitdate(date) {
      var patientd = date.split("-");
      //var patientDate = pdate[0]+pdate[1]+pdate[2]
      console.log(patientd);
      return patientd;
    },
    splitnum(num) {
      var splitednum = num.split("");
      console.log(splitednum);
    },
    Setintday(num) {
      var intday = parseInt(num);
      return intday;
    },
    patientpage(value) {
      this.$router.push({ name: "คนไข้", params: { data: value } });
      this.$route.params.pathMatch;
    },
    CountPatientNow(){
      var Count = 0;
      Count = Count + 1 ;
      return Count;
    },
    CountNumber(){
      var Count = 0;
      Count = Count + 1 ;
      return Count;
    }
  },
};
</script>
<style>
</style>
