<template>
  <div>
    <div id="navbar" class="navbar navbar-default ace-save-state">
      <div class="navbar-container ace-save-state" id="navbar-container">
        <!-- <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
              
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button> -->

        <b-button v-b-toggle.sidebar-1>
          <!-- <img src="../assets/menu_white.png" /> -->
        </b-button>

        <b-sidebar id="sidebar-1" title="A">
          <div class="px-3 py-2">
            <div style="margin-top: 5%">
              <a
                href="/showappointment"
                style="color: #5a585c; font-size: 20px; padding: 10%"
                >ตารางการนัดหมาย</a
              >
              <br />
              <br />
              <a
                href="/appointing"
                style="color: #5a585c; font-size: 20px; padding: 10%"
                >การนัดหมายคนไข้</a
              >
              <br />
              <br />
              <a
                href="/showappointment"
                style="color: #5a585c; font-size: 20px; padding: 10%"
                >ตารางการนัดหมาย
              </a>
            </div>
          </div>
        </b-sidebar>

        <!-- <div class="navbar-header pull-left">
                <a href="https://reg.mfu.ac.th/registrar/home.asp" class="navbar-brand">
                    <small>
                        Mae Fah Luang University </small>
                </a>
            </div> 

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav" style="">
                    <li class="grey dropdown-modal">
                        <a href="https://reg.mfu.ac.th/registrar/login.asp">
                            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                            เข้าสู่ระบบ
                        </a>



                    </li>

                </ul>
            </div>  -->
      </div>
      <!-- /.navbar-container -->
    </div>

    <!--div style="padding:10%; padding-left: 40%">
    <b-button v-b-toggle.sidebar-1 >
      <img src="../assets/menu_white.png"/>
    </b-button>

    <b-sidebar id="sidebar-1" title="A">
      <div class="px-3 py-2">
        
          <div style="margin-top: 5%">
            <a href="/showappointment" style="color: #5A585C; font-size: 20px; padding: 10%;">ตารางการนัดหมาย</a>
            <br/>
            <br/>
            <a href="/appointing" style="color: #5A585C; font-size: 20px; padding: 10%;">การนัดหมายคนไข้</a>
            <br/>
            <br/>
            <a href="/showappointment" style="color: #5A585C; font-size: 20px; padding: 10%;">ตารางการนัดหมาย </a>
          </div>
      </div>
    </b-sidebar>
    </div-->

    <div>
      <router-link to="/appointing">page 2</router-link>
    </div>

    <!-- <div class="v-sheet theme--dark v-toolbar v-app-bar v-app-bar--fixed" data-booted="true" style="height: 64px; margin-top: 0px;
transform: translateY(0px); left: 0px; right: 0px;">
  <div class="v-toolbar__content" style="height: 64px;">
    <button type="button" class="v-app-bar__nav-icon v-btn v-btn--flat v-btn--icon v-btn--round theme--dark v-size--default">
      <span class="v-btn__content">
        <i aria-hidden="true" class="v-icon notranslate mdi mdi-menu theme--dark"></i>
      </span>
    </button>
    
    <div class="v-toolbar__title">appointment system for dental clinic</div>
    <div class="space"></div>
  </div>
</div> -->

    <!-- <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="clipped = !clipped"
      >
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="fixed = !fixed"
      >
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn
        icon
        @click.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      :absolute="!fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app> -->

    <!-- <div id="patientAll" class="tab-pane fade in active">
    <nav>
      <div class="width100Percent smWidth100Percent showInlineBlock paddingRight10">
        <ol id="page">
          <li class="text" style="width: auto; front=size: 13px; padding-right: 5px; margin-top: 6px">
            <span style="color: gray; padding-right: 5px; paddin-top: 5px;">
              หน้า
            </span>
          </li>

          <li style="margin: 1px 4px 0px;">
            <button class="btn btn-xs btn-default" 
            style="border: 0px; 
            width: 28; 
            height: 28; 
            background-color: #FF8452; 
            color: #FFF; 
            cursor: default">
              <span style="font-size: 13px;"> 1 </span>
            </button>
          </li>

          <li style="margin: 1px 4px 0px;">
            <a href="#">
              <span style="font-size: 13px;">
                <button class="btn btn-xs btn-default" style="border: 0px; width: 28px; height: 28px;"> 2 </button>
              </span>
            </a>            
          </li>

          <li style="margin: 1px 2px 0px">
            <a href="#">
              <button title="หน้าถัดไป" class="btn btn-xs btn-default" style="width: 28px; height: 28px;">
                <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 22px;">
                  ::before
                </i>
              </button>
            </a>
          </li>

          <li style="margin: 1px 2px 0px;">
            <a href="#">
              <button title="หน้าสุดท้าย" alt="สุดท้าย" class="btn btn-xs btn-default" style="width: 28px; height: 28px;">
                <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 22px;">
                  ::before
                </i>
              </button>
            </a>
          </li>
        </ol>
      </div>
    </nav>

    <div class="col-xs-12 col-sm-6 listArticleItem col-left" styel="background-clip: content-box;">
      <div class="width100Percent showInlineBlock bgNewBOx">
        <div class="listArticletImage" style="padding-left: 0px;">
          <a class="linkColorChangeOnHover" href="#" target="_blank">
            <img id="#" alt="Patient Name" class="listArticleThumbnail" oneror="articleH.thumbnailError(this)" src="#" srcset="#"/> id=image name, oneror(src)=img in that page, oneror(srcset)=idk -->
    <!-- </a>
        </div>
        <div class="myListArticleInfo" style="display: inline-grid">
          <a class="linkColorChangeOnHover" href="#" target="_blank" style="overflow: hidden">
            <p class="height1Line listArticleName" style="margin: 0; word-break: break-all;">Patient Name(like from firebase)</p>
          </a>
          <div style="position: absolute; top: 10px; right: 10px; z-index: 1;" class="pull-right">
            <button onclick="place(MyShelf).deleteobject(MyFavorite('key or uid i think'))" class="btn btn-default btn-xs cursorPointer">
              <span class="glyphicon gluphicon-trash" style="font-size: 10px;">
                ::before
              </span>
            </button>
          </div>
          <div class="showInlineBlock width100Percent listDentName" style="font-size: 13px; font-weight: 300px; color: #888888">
            <div class="pull-left height1Line" style="max-width: 70%; word-break: break-all">
              <span class="glyphicon gluphicon-trash" style="font-size: 10px;">
                ::before
              </span>
              <a class="linkColorChangOnHover" href="#" target="_blank">
                <span>dent name</span>
              </a>
            </div>
          </div>
          <div class="listArticleUpdateWork">
            <div class="txtSize12 height1Line" style="margin-bottom: 3px;">
              <div class="showInlineBlock" style="width: 60px;">ทันตแพทย์</div>
              <span>
                ": "
                <a href="#" class="linkColorChangeOnHover" target="_blank">dent name</a>
              </span>
            </div>
          </div>

          <hr class="hidden-sm hidden-xs"/>

          
        </div>
      </div>
    </div>
  </div>-->
  </div>

  <!-- <div style="background-color: #9A82BC; height: 665px">
<dive class="container fluid">
  <div class="card-body">

    <br/>

    <a class="inline0" href="/showappointment">
      <img src="../assets/check text.png"/>
    </a>

    <a class="inline1" href="/appointing">
      <img src="../assets/carlendar text.png"/>
    </a>

  </div>
</dive>
</div> -->
</template>




<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: "mdi-apps",
          title: "Welcome",
          to: "/",
        },
        {
          icon: "mdi-chart-bubble",
          title: "Inspire",
          to: "/inspire",
        },
        {
          icon: "mdi-home",
          title: "Hello",
          to: "/Hello",
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "appointment system for dental clinic",
    };
  },
};
</script>

<style scoped>
</style>
<!--style scope>
img {
   height: 200px;
   width: 150px;
   /* margin-left: 50%; */
}

.inline0 {
  display: inline-block !important;
  margin-top: 10%;
  margin-left: 29% !important;
}

.inline1 {
  display: inline-block !important;
  margin-left: 24% !important;
}
</style-->