<template>
  <div class="container fluid">
    <br />
    <div>
      <div class="card">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <!-- <th style="width:5%; text-align:center">ลำดับ</th> -->
                <th style="width: 15%; text-align: center">หมายเลข คนไข้</th>
                <th style="width: 10%; text-align: center">วัน</th>
                <th style="width: 8%; text-align: center">เวลา</th>
                <th style="width: 15%; text-align: center">คนไข้</th>
                <th style="width: 15%; text-align: center">ทันตแพทย์</th>
                <th style="width: 15%; text-align: center">ภาระงาน</th>
                <th style="width: 10%; text-align: center">หมายเหต</th>
                <!-- <th style="width:5%; text-align:center"></th> -->
                <!-- <th style="width:5%; text-align:center"></th> -->
              </tr>
            </thead>

            <tbody>
              <tr
                v-for="(info, index) in this.data"
                :key="index"
                style="text-align: center"
              >
                <th>{{ info.hn }}</th>
                <th>{{ info.date }}</th>
                <th>{{ info.time }}</th>
                <th>{{ info.patient }}</th>
                <th>{{ info.dentist }}</th>
                <th>{{ info.work }}</th>
                <th>{{ info.note }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button
        v-for="(info, index) in this.data"
        :key="index"
        @click="Calendarsent(info.hn, info.date, info.time, info.patient, info.dentist, info.work, info.note)"
      >
        สร้างนัด
      </button>
    </div>
  </div>
</template>

<script>
import { database } from "@/components/firebase";
//import VueGoogleCalendar from "vue-google-calendar/src/vue-google-calendar";
//import { google }  from 'googleapis';
//console.log(google);
//import CalendarFunction from "../calendar/calendar";
//import Calendar from "../calendar/calendar";
//import { nexmo } from "../components/nexmo";
// import database from 'firebase';

export default {
  props: ["listdata"],
  data() {
    return {
      editIndex: 0,
      date: "",
      time: "",
      patient: "",
      dentist: "",
      work: "",
      note: "",
      contacts: {},
      data: [],
      editdata: false,
    };
  },
  mounted() {
    this.$emit("");
  },
  created() {
    this.fetchList();
  },
  methods: {
    Calendarsent(hn, date, time, patient, dentist, work, note) {
      window.open(
        "http://localhost:7777/calendar" +
          "?" +
          "hn=" +
          hn +
          "&" +
          "date=" +
          date +
          "&" +
          "time=" +
          time +
          "&" +
          "patient=" +
          patient +
          "&" +
          "dentist=" +
          dentist +
          "&" +
          "work=" +
          work +
          "&" +
          "note=" +
          note
      );
    },

    fetchList() {
      this.data.push(this.$route.params.data);
      console.log(this.data);
      // this.$store.dispatch("fetchpatient");
    },

    openEdit(index, info) {
      this.editIndex = index;
      this.date = info.date;
      this.time = info.time;
      this.patient = info.patient;
      this.dentist = info.dentist;
      this.work = info.work;
      this.note = info.note;
    },

    closeEdit() {
      this.editIndex = -1;
      this.date = "";
      this.time = "";
      this.patient = "";
      this.dentist = "";
      this.work = "";
      this.note = "";
    },

    editinfo() {
      let payload = {
        index: this.editIndex,
        date: this.date,
        time: this.time,
        patient: this.patient,
        dentist: this.dentist,
        work: this.work,
        note: this.note,
      };
      // this.$store.dispatch("editinfo", payload)
      // .then(window.alert("บันทึกสำเร็จ"))
      // .then(this.closeEdit());
      database
        .ref("contacts")
        .orderByChild("UId")
        .equalTo(payload.index)
        .update(payload)
        .then(window.alert("แก้ไขสำเร็จ"))
        // .then([this.date, this.time, this.patient, this.dentist, this.work, this.note] = ["","","","","","",])
        .then(this.closeEdit());
    },
  },
  //components: [{ VueGoogleCalendar }],
};
</script>

<style scoped>
button {
  padding: 2.5px 15px;
  text-align: center;
  border-radius: 12px;
}

.inline {
  display: inline-block !important;
  /* margin-left: 3px !important;  */
}
.cards {
  width: 300px;
  display: flex;
  margin-bottom: 10px;
  margin-left: 50px;
}
</style>