<template>
  <div>
    <div
      style="
        text-align: center;
        font-family: verdana;
        font-size: 20px;
        color: green;
      "
    >
      completed
    </div>
  </div>
</template>

<script>
export default {
  data() {},
  created() {
    this.GetCodeAccess();
  },
  methods: {
    GetCodeAccess() {
      console.log(this.$route.query.code);
    },
  },
};
</script>

<style>
</style>