<template>
  <div class="container fluid">
    <br />
    <div>
      <div class="card">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 5%; text-align: center">ลำดับ</th>
                <th style="width: 25%; text-align: center">วัน</th>
                <th style="width: 10%; text-align: center">เวลา</th>
                <th style="width: 25%; text-align: center">คนไข้</th>
                <th style="width: 15%; text-align: center">ภาระงาน</th>
                <th style="width: 50%; text-align: center">ทันตแพทย์</th>
                <th style="width: 10%; text-align: center">หมายเหตุ</th>
                <th style="width: 10%; text-align: center"></th>
                <th style="width: 10%; text-align: center"></th>
                <th style="width: 10%; text-align: center"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(info, index) in $store.getters.appointment"
                :key="index"
                style="text-align: center"
              >
                <td v-if="index !== editIndex">{{ index + 1 }}</td>
                <td v-if="index !== editIndex">{{ info.date }}</td>
                <td v-if="index !== editIndex">{{ info.time }}</td>
                <td v-if="index !== editIndex">{{ info.patient }}</td>
                <td v-if="index !== editIndex">{{ info.work }}</td>
                <td v-if="index !== editIndex">{{ info.dentist }}</td>
                <td v-if="index !== editIndex">{{ info.note }}</td>

                <td v-if="index !== editIndex">
                  <button
                    type="button"
                    class="btn btn-danger"
                    @click="deleteinfo(info.hn)"
                  >
                    ลบ
                  </button>
                </td>

                <td v-if="index !== editIndex">
                  <button
                    type="button"
                    class="btn btn-warning"
                    @click="openEdit(index, info)"
                  >
                    แก้ไข
                  </button>
                </td>

                <td v-if="index !== editIndex" id="patient-return-id">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    @click="patientpage(info)"
                  >
                    ดู
                  </button>
                </td>

                <td v-if="index === editIndex">
                  <!-- <input
                    type="date"
                    class="form-control"
                    placeholder="วัน"
                    v-model="date"
                    :config="options"
                    style="text-align: center"
                  /> -->
                </td>

                <td v-if="index === editIndex">
                  <input
                    type="date"
                    class="form-control"
                    placeholder="วัน"
                    v-model="date"
                    :config="options"
                    style="text-align: center"
                  />
                </td>

                <td v-if="index === editIndex">
                  <input
                    type="time"
                    class="form-control"
                    placeholder="วันที่และเวลา"
                    v-model="time"
                    :config="options"
                    style="text-align: center"
                  />
                </td>

                <td v-if="index === editIndex">
                  <input
                    type="text"
                    :value="info.patient"
                    class="form-control"
                    v-on:change="patient = $event.target.value"
                  />
                </td>

                <td v-if="index === editIndex">
                  <input
                    type="text"
                    :value="info.work"
                    class="form-control"
                    v-on:change="work = $event.target.value"
                  />
                </td>

                <td v-if="index === editIndex">
                  <input
                    type="text"
                    :value="info.dentist"
                    class="form-control"
                    v-on:change="dentist = $event.target.value"
                  />
                </td>

                <td v-if="index === editIndex">
                  <input
                    type="text"
                    :value="info.note"
                    class="form-control"
                    v-on:change="note = $event.target.value"
                  />
                </td>

                <td v-if="index === editIndex">
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="editinfo(info.hn)"
                  >
                    ยืนยัน
                  </button>
                </td>

                <td v-if="index === editIndex">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    @click="closeEdit()"
                  >
                    ยกเลิก
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { database } from "@/components/firebase";
// import database from 'firebase'

export default {
  data() {
    return {
      editIndex: -1,
      date: "",
      time: "",
      patient: "",
      dentist: "",
      work: "",
      note: "",
      contacts: {},
    };
  },
  created() {
    this.fetchList();
  },
  methods: {
    fetchList() {
      this.$store.dispatch("fetchList");
    },
    deleteinfo(key) {

      database.child(key).remove();
     
      // let payload = { index:this.editIndex};
      // this.$store.dispatch("deleteinfo", payload);
      // .then(window.alert("แก้ไขสำเร็จ"))
      // database.ref('contacts').remove()
    },

    openEdit(index, info) {
      this.editIndex = index;
      this.date = info.date;
      this.time = info.time;
      this.patient = info.patient;
      this.dentist = info.dentist;
      this.work = info.work;
      this.note = info.note;
    },

    closeEdit() {
      this.editIndex = -1;
      this.date = "";
      this.time = "";
      this.patient = "";
      this.dentist = "";
      this.work = "";
      this.note = "";
    },

    editinfo(hn) {
      let payload = {
        date: this.date,
        time: this.time,
        patient: this.patient,
        dentist: this.dentist,
        work: this.work,
        note: this.note,
      };
      database
        .ref("contacts")
        .orderByChild("hn")
        .equalTo(hn)
        .once("child_added", (snapshot) => {
          snapshot.ref.update(payload);
        })
        .then(window.alert("แก้ไขสำเร็จ"))
        .then(this.closeEdit());
    },

    patientpage(value) {
      this.$router.push({ name: "คนไข้", params: { data: value } });
      this.$route.params.pathMatch 
    },
  },
};
</script>

<style scoped>
button {
  padding: 2.5px 15px;
  text-align: center;
  border-radius: 12px;
}

.inline {
  display: inline-block !important;
}
</style>