<template>
  <div style="background-color: #f4ecdf;  width: 100%; min-height: 92vh;">
  <div class="container fluid" style="margin-left: 20%">
    <br />
    <div>
      <div class="card">
        <div class="card-header" style="background-color: #AF6BB5;">
          <h2>ตารางการนัดหมาย</h2>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width:15%; text-align:center">วัน</th>
                <th style="width:10%; text-align:center">เวลา</th>
                <th style="width:25%; text-align:center">คนไข้</th>
                <th style="width:15%; text-align:center">ภาระงาน</th>
                <th style="width:25%; text-align:center">ทันตแพทย์</th>
                <th style="width:10%; text-align:center">หมายเหตุ</th>                  
              </tr>
            </thead>
            <tbody>    
              <tr v-for="(info, index) in $store.getters.patient" :key="index" style="text-align:center" >
                <th v-if="index == editIndex">{{ info.date }}</th>
                <th v-if="index == editIndex">{{ info.time }}</th>
                <th v-if="index == editIndex">{{ info.patient }}</th>
                <th v-if="index == editIndex">{{ info.work }}</th>
                <th v-if="index == editIndex">{{ info.dentist }}</th>
                <th v-if="index == editIndex">{{ info.note }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import { database } from '../components/firebase'

export default {
  data() {
    return {
      editIndex: 1,
      date: "",
      time: "",
      patient: "",
      dentist: "",
      work: "",
      note: "",
      contacts: {}
    };
  },
  created() {
    this.fetchList();
  },
  methods: {
    fetchList(){
      this.$store.dispatch("fetchpatient");
    },
    deleteinfo() {
      // let payload = { index: index };
      // this.$store.dispatch("deleteinfo", payload);
      database.ref('contacts').remove()
    },

    openEdit(index, info) {
      this.editIndex = index;
      this.date = info.date;
      this.time = info.time;
      this.patient = info.patient;
      this.dentist = info.dentist;
      this.work = info.work;
      this.note = info.note;
    },  
    
    closeEdit() {
      this.editIndex = -1;
      this.date = "";
      this.time = "";
      this.patient = "";
      this.dentist = "";
      this.work = "";
      this.note = "";
    }, 
      
    editinfo() {
      let payload = {
        index: this.editIndex,
        date: this.date,
        time: this.time,
        patient: this.patient,
        dentist: this.dentist,
        work: this.work,
        note: this.note
      };
      // this.$store.dispatch("editinfo", payload)
      // .then(window.alert("บันทึกสำเร็จ"))
      // .then(this.closeEdit());
      database.ref('contacts').orderByChild("UId").equalTo(payload.index).update(payload)
      .then(window.alert("แก้ไขสำเร็จ"))
      // .then([this.date, this.time, this.patient, this.dentist, this.work, this.note] = ["","","","","","",])
      .then(this.closeEdit());
    }     
  }
};
</script>

<style scoped>
button {
  padding: 2.5px 15px;
  text-align:center; 
  border-radius: 12px;
}

.inline {
  display: inline-block !important;
  /* margin-left: 3px !important;  */
}
.cards {
  width: 300px;
  display: flex;
  margin-bottom: 10px;
  margin-left: 50px;
}
</style>