<template>
<div :class="{'nav-open': $sidebar.showSidebar}">
    <notifications></notifications>
    <router-view></router-view>
  </div>
  <!-- <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <router-link class="navbar-brand" style="padding-left: 0.5%" to="/">
        Appointment for dental clinic
      </router-link>

      <form class="form-inline my-2 my-lg-0" style="margin-left: 60%">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>

      <sidebar menu>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="nav navbar-nav side-nav">
            <div style="margin-top: 10%">
              <router-link class="navbar-brand" style="padding-left: 0.5%" to="/">
                Appointment for dental clinic
              </router-link >

              <router-link to="/showappointment" style="color: #919a94; font-size: 20px; margin-left: 25px">
                ตารางการนัดหมาย
              </router-link>
            </div>
          </ul>
        </div>
      </sidebar>
    </nav>
    
    <router-view></router-view>
  </div> -->
</template>

<script>
export default {
  // name: "App",
};
</script>

<style lang="scss">
.vue-notifyjs.notifications {
  .alert {
    z-index: 10000;
  }
  .list-move {
    transition: transform 0.3s, opacity 0.4s;
  }
  .list-item {
    display: inline-block;
    margin-right: 10px;
  }
  .list-enter-active {
    transition: transform 0.2s ease-in, opacity 0.4s ease-in;
  }
  .list-leave-active {
    transition: transform 1s ease-out, opacity 0.4s ease-out;
  }

  .list-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  .list-leave-to {
    opacity: 0;
    transform: scale(1.2, 0.7);
  }
}
</style>



<!--script>
import { store } from "./store/store";
export default {
  store,
};
</script>

<style>
.menu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.side-nav {
  position: fixed;
  top: 60px;
  left: 225px;
  width: 225px;
  margin-top: -4px;
  margin-left: -225px;
  border: none;
  border-radius: 0;
  /* border-top: 1px rgba(0,0,0,.5) solid; */
  overflow-y: auto;
  background-color: #343a40;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
}
</style-->